div.quiz {
  display: none;  
}

body {
  background-color: aquamarine;
  text-align: center;
}

ul {
  list-style-type: none;
}

div.results {
  display: none;
}

.results {
  text-align: center;
}

.form-control{
  height: 50px;
  width: 100px;
}

#exampleInputEmail1{
  display:block;
  margin: 0 auto;
}

#exampleInputEmail1{
  display:block;
  margin: 0 auto;
}

#choice-button{
  display:block;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  margin: 10px auto;
}
