div.quiz {
  display: none;  
}

body {
  background-color: aquamarine;
  text-align: center;
}

ul.answers {
  list-style-type: none;
}

div.results {
  display: none;
}

.results {
  text-align: center;
}

.form-control{
  height: 50px;
  width: 100px;
}