div.quiz {
  display: none;  
}

body {
  background-color: #72A1B5;
  text-align: center;
  color: #223036
}

ul {
  list-style-type: none;
}

div.results {
  display: none;
}

.results {
  text-align: center;
}

.form-control{
  height: 50px;
  width: 100px;
  margin: 0 auto;
}

#exampleInputEmail1{
  display:block;
  margin: 0 auto;
}

#exampleInputEmail1{
  display:block;
  margin: 0 auto;
}

#choice-button{
  display:block;
  text-align: center;
  padding: 5px;
  margin: 10px auto;
}

.form-style {
  margin-left: 200px;
}

.results-display {
  margin-left: 450px;
}

button.btn-primary {
  background-color: #4A6875;
  color: #ffffff;
  border-color: #4A6875;
}

.restart {
  margin: 10px;
}